<main id='root'>
  static page, level 0<br>
  from <%= __FILE__ %>
</main>

<script type="text/javascript">
  window.staticImages = {
    alexGrey: "<%= asset_url("01-Alex-Painting-753x1024.jpg") %>",
    homePhones: "<%= asset_url("home_phones_AG.png") %>",
    iconColor: "<%= asset_url("ig-icon-color.png") %>",
    iconBlack: "<%= asset_url("ig-icon-black.png") %>"
  }
</script>
